@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

  header body{
    font-family:'Raleway' ;
    color: #000;
  }
:root{
  --headline-text:#2F303A;
  --text-color:#fff;
  --p-color:#757575;
}

.header-logo {
    font-family: 'Roboto'; 
    width: 1600px;
height: 80px;
flex-shrink: 0;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
  text-align: center;
}

.block-text {
     color: var(--headline-text);
    font-family: 'Roboto';
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;; 
}

.block-button {
    color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}



.article-text {

    color: var(--headline-text);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.headline-text


.p-text {
    color: var(--p-color) ;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.Basement {
  font-family: 'Roboto';
  width: 1600px;
height: 252px;
flex-shrink: 0;
background: var(--headline-text);
color: var(--text-color);
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
li{
  list-style: none;
}

